<o-form-layout-manager attr="UserReward" mode="tab" title="USERREWARD">
    <div fxFill fxLayout="column" fxLayoutAlign="start">
        <o-table 
            attr="UserRewardTable" 
            service="UserReward" 
            entity="UserReward" 
            title="USERREWARD"
            keys="id"
            columns="id;reward_id;user_id;claim_date" 
            header-actions="R;D"
            visible-columns="id;reward_id;user_id;claim_date"  
            sort-columns="id" 
            query-rows="20" 
            quick-filter="yes"
            row-height="medium" 
            select-all-checkbox="true" 
            pageable="yes"  
            auto-adjust="true" 
            virtual-scroll="yes" 
            edition-mode="dblclick"
            horizontal-scroll="yes"
            show-title="yes"
            export-button="yes">
            
            <o-table-column #id attr="id" title=" id*" type="integer" editable="no" required="no" content-align="center"></o-table-column>
            
            <o-table-column attr="reward_id" title="reward_id">
    <o-table-cell-renderer-service attr="reward_id" 
        service="Reward" entity="RewardType" columns="id;description"
        parent-keys="id:reward_id"
        value-column="description" keys="reward_id"
        visible-columns="description" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
            
            <o-table-column attr="user_id" title="user_id">
    <o-table-cell-renderer-service attr="user_id" 
        service="User" entity="UserType" columns="id;username"
        parent-keys="id:user_id"
        value-column="username" keys="user_id"
        visible-columns="username" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
            
            <o-date-input #claim_date attr="claim_date" type="timestamp" label="claim_date" editable="no" required="yes" format="LL" fxFlex="20%" class="form-field"></o-date-input>
            
            <o-table-context-menu></o-table-context-menu>
            <o-table-paginator page-size-options="24;48;96"></o-table-paginator>
        </o-table>
    </div>
</o-form-layout-manager>